body[kui-theme-style] {
  letter-spacing: unset;
  text-rendering: unset;
  -webkit-font-smoothing: unset;
  user-select: none;
  line-height: unset;
}

body[kui-theme-style] sidecar .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
  color: var(--color-text-01);
  border-bottom-color: var(--color-brand-03);
  opacity: 1;
}
body[kui-theme-style="dark"] sidecar .bx--tabs__nav-item a.bx--tabs__nav-link {
  color: var(--color-text-02);
  border-bottom-color: var(--color-base05);
  opacity: 0.6;
  transition: opacity 70ms cubic-bezier(0.2, 0, 0.38, 0.9), color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    border-bottom-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
body[kui-theme-style="dark"]
  sidecar
  .bx--tabs__nav-item:hover:not(.bx--tabs__nav-item--selected):not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link {
  color: var(--color-text-01);
  border-bottom-color: var(--color-base05);
  opacity: 1;
}

body[kui-theme-style] .bx--structured-list-th,
body[kui-theme-style] .bx--structured-list-td {
  color: inherit;
}

/* breadcrumbs */
body[kui-theme-style] .bx--breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-sans-serif);
  margin: 0 0 1em;
}
body[kui-theme-style] .bx--breadcrumb-item .bx--link {
  color: var(--color-brand-01);
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
}
[kui-theme-style] .bx--breadcrumb-item::after {
  color: var(--color-text-02);
}

/* structured list */
[kui-theme-style] .bx--structured-list-row.bx--structured-list-row--header-row,
[kui-theme-style] .bx--structured-list-row {
  border-bottom-color: var(--color-content-divider);
}

/* buttons */
[kui-theme-style] .bx--btn--primary {
  background-color: var(--color-base0D);
  color: var(--color-text-01);
}
[kui-theme-style] .bx--btn--primary:hover {
  background-color: var(--color-base0D);
  filter: contrast(1.25);
}
[kui-theme-style] .bx--btn--secondary {
  background-color: var(--color-ui-03);
  color: var(--color-text-01);
}
[kui-theme-style] .bx--btn--secondary:hover {
  background-color: var(--color-ui-03);
  filter: contrast(0.75);
}
[kui-theme-style] .bx--btn--danger {
  background-color: var(--color-red);
}

[kui-theme-style] .bx--modal-close {
  background-color: var(--color-confirm-background);
}
[kui-theme-style] .bx--modal-close:hover {
  background-color: var(--color-confirm-background);
  filter: contrast(0.75);
}
[kui-theme-style] .bx--modal-close svg path {
  fill: var(--color-confirm-foreground);
}

[kui-theme-style] .bx--modal-header__heading {
  color: var(--color-confirm-foreground);
}

[kui-theme-style] .bx--modal-content {
  color: var(--color-confirm-foreground);
}
