sidecar .bx--tabs,
sidecar .bx--tabs .bx--tabs__nav,
sidecar .bx--tabs .bx--tabs__nav li {
  width: unset;
  min-height: unset;
  position: unset;
}
sidecar a.bx--tabs__nav-link,
sidecar a.bx--tabs__nav-link:active {
  outline: none;
  width: unset;
  min-width: 8em;
}
li.bx--tabs__nav-item.sidecar-bottom-stripe-button,
li.bx--tabs__nav-item.sidecar-bottom-stripe-button a {
  flex: 1;
}

body[kui-theme-style] .bx--link {
  font-weight: 600;
  color: var(--color-brand-01);
  /* text-decoration: underline; */
  transition: 250ms;
  pointer-events: unset;
  touch-action: unset;
}
body[kui-theme-style] .bx--link:not([href]),
body[kui-theme-style] .bx--link:visited {
  color: var(--color-brand-01);
}
body[kui-theme-style] .bx--link:hover {
  color: var(--color-hover-primary-text);
}

.repl-block.processing .repl-prompt-right-element-status-icon .kui--icon-processing svg circle.bx--loading__stroke-kui {
  stroke: var(--color-text-02);
  stroke-dashoffset: 10;
}

body[kui-theme-style] .bx--structured-list-th,
body[kui-theme-style] .bx--structured-list-td {
  color: inherit;
}
