[kui-theme-style] .bx--data-table thead,
[kui-theme-style] .bx--data-table tbody {
  font-size: unset;
  line-height: unset;
}
.bx--data-table.result-table .entity tr.entity-attributes,
.log-lines[kui-table-style="Medium"] .log-line {
  height: 2em;
}

.result-as-table-full-width .result-table {
  border: none;
}
.result-as-table .repl-result,
.result-as-table.repl-result {
  /* repl table */
  flex-wrap: unset;
  flex-direction: column;
}
.result-as-table.result-as-multi-table.result-as-multi-table-flex-wrap .repl-result {
  display: flex;
  align-items: flex-start;
}

table.result-table[kui-table-style] th.header-cell {
  text-transform: capitalize;
}

.entity .entity-kind {
  width: 8em;
}
.entity .entity-narrow {
  min-width: 5em;
}
.repl.sidecar-visible .entity .entity-narrow {
  width: 5em;
}
.result-table .entity-name-group-narrow {
  max-width: 16em;
}
.result-table .entity-name-group-extra-narrow {
  max-width: 10em;
}
.repl.sidecar-visible .log-lines,
body.subwindow .repl .log-lines {
  table-layout: fixed;
}
.repl.sidecar-visible .result-table .entity-name-group-extra-narrow {
  width: 9em;
  max-width: initial;
}
.repl.sidecar-visible .repl-result .entity-name-group .entity-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result-table .entity-name-group {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.repl.sidecar-visible
  .result-table
  .entity-name-group:first-child:not(.entity-name-group-narrow):not(.entity-name-group-extra-narrow):not(.not-a-name) {
  /* extra magic to get text ellipsis working; this needs width: 100% on enclosing tables */
  width: 100%;
  max-width: 0; /* important! 0 not 0% */
  min-width: 5em;
}

.result-as-table-full-width .result-table,
.result-as-table-full-width .log-lines {
  width: 100%;
}
.repl.sidecar-visible .result-as-table .repl-result,
.repl.sidecar-visible .result-as-table.repl-result {
  /* repl multi-table when sidecar is visible */
  /* the second rule covers MixedResponse that contains a table; e.g. `ibmcloud ks clusters` */
  width: 100%;
}
.repl.sidecar-visible .result-as-table .result-table,
body.sidecar-is-minimized .result-as-table .result-table {
  /* repl table when sidecar is visible */
  width: 100%;
}
.result-as-fixed-tables .result-table,
.result-as-fixed-tables.result-table {
  table-layout: fixed;
  width: 100%;
}
.result-table .cell-inner.pretty-wide:not([data-key="ID"]) {
  /* careful here, see https://github.com/IBM/kui/issues/1653 */
  white-space: pre-wrap;
}

.result-table-outer-wrapper.big-top-pad:not(:first-child) {
  margin-top: 1em;
}

.repl:not(.sidecar-visible) .result-table-outer {
  display: table;
}

.repl .bx--data-table {
  width: auto;
}

.result-table-outer-wrapper:not(:only-of-type) .result-table-title-outer {
  display: flex;
}
.result-table-title-outer {
  display: none;
  align-items: flex-end;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0.6875em;
  background: var(--color-sidecar-header);
  font-family: var(--font-sans-serif);
}
.bx--data-table-header__title {
  color: var(--color-text-01);
  font-size: inherit;
}

[kui-theme-style] .bx--data-table td {
  vertical-align: middle;
  display: table-cell;
}
