/* disable screenshot button when running in a browser; see #328 */
body.not-electron #sidecar-screenshot-button {
  display: none !important;
}

/* no context in webpack mode */
body.not-electron .repl-context {
  display: none;
}

body.not-electron .repl-prompt-righty {
  margin-top: -3px;
}
