build/
packages/builder
clients/**/*/dist/
plugins/**/*/dist/
plugins/*/lib/**/*.js
plugins/*/i18n/**/*.js
plugins/*/*.js
packages/core/dist/
packages/core/core/
packages/core/main/
packages/core/models/
packages/core/test/
packages/core/util/
packages/core/webapp/
packages/proxy/kui
plugins/*/dist/
**/*/node_modules/
**/*.d.ts
plugins/plugin-apache-composer/tests/data/composer/composer-source-expect-errors/if-bad.js
