build/
packages/builder
clients/**/*/dist/
plugins/**/*/dist/
plugins/**/*/mdist/
plugins/*/lib/**/*.js
plugins/*/i18n/**/*.js
plugins/*/*.js
packages/core/index.js
packages/core/api/
packages/core/dist/
packages/core/core/
packages/core/commands/
packages/core/main/
packages/core/models/
packages/core/plugins/
packages/core/repl/
packages/core/test/
packages/core/util/
packages/core/webapp/
packages/proxy/kui
packages/react/dist/
packages/test/dist/
packages/*/mdist/
plugins/*/mdist/
plugins/*/dist/
**/*/node_modules/
**/*.d.ts
plugins/plugin-apache-composer/tests/data/composer/composer-source-expect-errors/if-bad.js
kui-stage
*flycheck*.js
/dist