*~
#*
dist/app
dist/build
dist/plugins
*.log
*.bak
node_modules
wskng.iml
app/.version
app/build/webpack-stats.html
app/content/**/*.js.map
app/plugins/.pre-scanned
app/plugins/.pre-scanned.json
.openwhisk-shell
dump.rdb
#openwhisk
.idea
.DS_Store
app.inst
.travis.yml.orig
*_BASE*
*_BACKUP*
*_LOCAL*
*_REMOTE*
keys