build/
clients/**/*/dist/
node_modules/
*.d.ts
*.min.css
package-lock.json

# don't pretty-print notebooks, since spacing is important, e.g. for tabs and tips
plugins/*/notebooks/**/*.md
plugins/*/notebooks/**/*.json

# don't pretty-print test markdown, since spacing is important, e.g. for tabs and tips
plugins/*/tests/**/*.md
plugins/*/tests/**/*.json

plugins/**/*/dist
plugins/**/*/mdist
packages/core/dist/
packages/core/mdist/
packages/builder/mdist/
packages/test/dist/
packages/test/mdist/
packages/react/dist/
packages/react/mdist/

# prebuilt modules/binaries
/dist

CHANGELOG.md