/**
 * scheme: "Atelier Seaside"
 * author: "Bram de Haan (http://atelierbramdehaan.nl)"
 */
body[kui-theme="Atelier"] {
    --color-base00: #131513;
    --color-base01: #242924;
    --color-base02: hsl(120, 8%, 30%); /* dialed L from 40% #5e6e5e */
    --color-base03: hsl(120, 9%, 20%); /* dialed L from 45% #687d68 */
    --color-base04: #809980;
    --color-base05: hsl(120, 13%, 85%); /* dialed L from 60% #8ca68c */
    --color-base06: hsla(120, 35%, 92%, 1); /* dialed L from 86% #cfe8cf */
    --color-base07: #f4fbf4;
    --color-base08: #e6193c;
    --color-base09: hsl(48, 65%, 50%); /* dialed L from 32% #87711d */
    --color-base0A: hsl(60, 70%, 41%); /* dialed L from 35% #98981b */
    --color-base0B: #29a329;
    --color-base0C: #1999b3;
    --color-base0D: hsl(228, 90%, 75%); /* dialed L from 60% #3d62f5 */
    --color-base0E: #ad2bee;
    --color-base0F: #e619c3;

    --color-ui-06: hsla(120, 8%, 14%, 1);

    --color-light-red: hsla(350, 80%, 50%, 0.75);
    --color-light-green: hsla(120, 60%, 40%, 0.75);
    --color-yellow: var(--color-base09);
    --color-light-yellow: hsla(48, 65%, 32%, 0.75);

    --color-scrollbar-thumb: #121412;
    --color-scrollbar-thumb-border: #3F433F;
    --color-scrollbar-thumb-outline: #1C221C;

    --color-latency-0: #01665e;
    --color-latency-1: #5ab4ac;
    --color-latency-2: #c7eae5;
    --color-latency-3: #f6e8c3;
    --color-latency-4: #d8b365;
    --color-latency-5: #8c510a;
}

/* atelier seaside dark highlightjs theme */
.hljs-comment,.hljs-quote{color:#809980}.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-tag,.hljs-name,.hljs-regexp,.hljs-link,.hljs-name,.hljs-selector-id,.hljs-selector-class{color:#e6193c}.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params{color:#87711d}.hljs-string,.hljs-symbol,.hljs-bullet{color:#29a329}.hljs-title,.hljs-section{color:#3d62f5}.hljs-keyword,.hljs-selector-tag{color:#ad2bee}.hljs{display:block;overflow-x:auto;background:#131513;color:#8ca68c;padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
