/* color variables */
body[kui-theme="Carbon Gray10"] {
  --color-base00: #ffffff;
  --color-base01: #f3f3f3;
  --color-base02: #8c8c8c;
  --color-base03: #dcdcdc;
  --color-base04: #f2f4f8;
  --color-base05: #50565b;
  --color-base06: #171717;
  --color-base07: #fff;
  --color-base08: #da1e28;
  --color-base09: #bf5b17;
  --color-base0A: #8e6926;
  --color-base0B: #198038;
  --color-base0C: #0072c3;
  --color-base0D: #054ada;
  --color-base0E: #d12765;
  --color-base0F: #8a3ffc;

  /* SidecarThin */
  --color-background-inverted01: var(--color-sidecar-background);
  --color-background-inverted02: var(--color-sidecar-header);
  --color-text-inverted01: #fff;
  --color-text-inverted02: var(--color-text-inverted01);
  --color-text-inverted03: var(--color-base01);
  --color-tab-selected-inverted: var(--color-name);

  --color-name-sidecar: #30b0ff;
  --color-red-sidecar: #fb4b53;
  --color-yellow-sidecar: #fdd13a;
  --color-green-sidecar: #56d679;

  --color-brand-01: #0062ff;
  --color-brand-02: #171717;
  --color-brand-03: #0062ff;

  --color-ui-05: #171717;
  --color-ui-03: var(--color-background-inverted02);
  --color-text-02: #565656;

  --color-map-key: #6ea6ff;
  --color-map-value: var(--color-text-inverted01);

  --color-table-border1: #9e9fa1;
  --color-table-border2: #3d4144;
  --color-table-border3: #a5adb4;

  --color-sidecar-toolbar-foreground: var(--color-text-01);

  --color-sidecar-header: #282828;
  --color-sidecar-background: var(--color-base06);
  --color-sidecar-border: #e4e4e4;

  --color-brand-03: #008fff;
  --color-content-divider: #bfc0c2;
  --color-selection-background: #b3e6ff;

  --color-screenshot-background: #0062ff;

  --color-stripe-01: #f5f7fa;
  --color-stripe-02: var(--color-base03);
  --tab-gray-text-color: var(--color-text-01);
  --active-tab-color: #0062ff;

  --color-light-red: hsla(354, 81%, 51%, 50%);
  --color-light-green: hsla(143, 73%, 43%, 50%);
  --color-light-yellow: hsla(46, 99%, 59%, 50%);
}

body[kui-theme="Carbon Gray10"] sidecar .bx--data-table td,
body[kui-theme="Carbon Gray10"] sidecar .bx--data-table th {
  color: var(--color-text-inverted03);
}
body[kui-theme="Carbon Gray10"] sidecar .bx--data-table td .slightly-deemphasize {
  color: var(--color-base02);
}

body[kui-theme="Carbon Gray10"] sidecar .sidecar-header {
  border-bottom-color: #4c4c4c;
}

body[kui-theme="Carbon Gray10"] .result-table-title-outer {
  background-color: transparent;
}
body[kui-theme="Carbon Gray10"] sidecar .bx--data-table-header__title {
  color: var(--color-base07);
}

body[kui-theme="Carbon Gray10"] sidecar .bx--link {
  color: var(--color-map-key);
}
body[kui-theme="Carbon Gray10"] sidecar,
body[kui-theme="Carbon Gray10"] sidecar .sidecar-bottom-stripe,
body[kui-theme="Carbon Gray10"] sidecar .monaco-editor,
body[kui-theme="Carbon Gray10"] sidecar .monaco-editor .mtk5,
body[kui-theme="Carbon Gray10"]
  sidecar
  .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link {
  color: var(--color-base07);
}
body[kui-theme="Carbon Gray10"]
  sidecar
  .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link {
  border-bottom-color: var(--color-map-key);
}
body[kui-theme="Carbon Gray10"]
  sidecar
  .bx--tabs__nav-item:hover:not(.bx--tabs__nav-item--selected):not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link {
  color: var(--color-base01);
}

body[kui-theme="Carbon Gray10"] sidecar .sidecar-bottom-stripe svg path {
  fill: var(--color-base07);
}
body[kui-theme="Carbon Gray10"] sidecar a.bx--tabs__nav-link,
body[kui-theme="Carbon Gray10"] sidecar .sidecar-bottom-stripe {
  background-color: var(--color-sidecar-header);
  border-bottom-color: #6f6f6f;
  color: var(--color-sidecar-toolbar-background);
}
body[kui-theme="Carbon Gray10"] .monaco-editor .margin-view-overlays .current-line-margin,
body[kui-theme="Carbon Gray10"] .monaco-editor .view-overlays .current-line {
  border-color: #565656;
}
body[kui-theme="Carbon Gray10"] sidecar .sidecar-header-secondary-content,
body[kui-theme="Carbon Gray10"] sidecar .monaco-editor .mtk7,
body[kui-theme="Carbon Gray10"] sidecar .monaco-editor .line-numbers {
  color: var(--color-sidecar-toolbar-background);
}
body[kui-theme="Carbon Gray10"] .monaco-editor .current-line ~ .line-numbers {
  color: #fa75a6;
}
body[kui-theme="Carbon Gray10"] .kui--input-stripe .repl-input {
  background-color: var(--color-base04);
}
body[kui-theme="Carbon Gray10"] .repl,
body[kui-theme="Carbon Gray10"] .left-tab-stripe-button-selected{
  background-color: var(--color-base01);
}
body[kui-theme="Carbon Gray10"] .kui--input-stripe {
  background-color: var(--color-base00);
}
body[kui-theme="Carbon Gray10"] .kui--input-stripe input {
  background-color: var(--color-base01);
}

body[kui-theme="Carbon Gray10"] .bx--data-table {
  font-family: var(--font-sans-serif);
}
body[kui-theme="Carbon Gray10"] .bx--data-table td {
  background-color: var(--color-base00);
}
