/* color variables */
body[kui-theme="Carbon Gray90"][kui-theme-style] {
  --color-base00: #282828;
  --color-base01: #171717;
  --color-base02: #565656;
  --color-base03: #565656;
  --color-base04: #8c8c8c;
  --color-base05: #adadad;
  --color-base06: #f3f3f3;
  --color-base07: #fff;
  --color-base08: #fb4b53;
  --color-base09: #bf5b17;
  --color-base0A: #fdd13a;
  --color-base0B: #56d679;
  --color-base0C: #30b0ff;
  --color-base0D: #0353e9;
  --color-base0E: #fa75a6;
  --color-base0F: #bb8eff;

  /* SidecarThin */
  --color-background-inverted01: var(--color-sidecar-background);
  --color-background-inverted02: var(--color-sidecar-header);
  --color-text-inverted01: #fff;
  --color-text-inverted02: var(--color-text-inverted01);
  --color-text-inverted03: var(--color-text-01);
  --color-tab-selected-inverted: var(--active-tab-color);

  --color-confirm-background: var(--color-sidecar-header);
  --color-confirm-foreground: var(--color-base06);

  --color-brand-01: #97c1ff;
  --color-brand-03: #0062ff;

  --color-sidecar-toolbar-foreground: var(--color-base01);

  --color-text-02: #bebebe; /**/

  --color-sidecar-header: #3d3d3d;
  --color-sidecar-background: #171717;
  --color-sidecar-border: transparent;

  --color-brand-03: #408bfc;
  --color-content-divider: #4c4c4c;

  --color-selection-background: #6f6f6f;

  --color-screenshot-background: var(--color-brand-03);

  --color-stripe-01: var(--color-base02);
  --color-stripe-02: var(--color-sidecar-header);
  --tab-gray-text-color: #b5b5b5;
  --active-tab-color: #6ea6ff;

  --color-prompt-text: #408bfc;

  --color-light-red: hsla(354, 81%, 51%, 50%);
  --color-light-green: hsla(143, 73%, 43%, 50%);
  --color-light-yellow: hsla(46, 99%, 59%, 50%);
}

/* some carbon-overrides */
body[kui-theme="Carbon Gray90"] .bx--modal-close__icon {
  fill: #ebebeb;
}
body[kui-theme="Carbon Gray90"] .bx--data-table {
  font-family: var(--font-sans-serif);
}
body[kui-theme="Carbon Gray90"] .bx--data-table tr:hover td,
body[kui-theme="Carbon Gray90"] .bx--data-table tr:hover th {
  color: var(--color-text-01);
  border-color: var(--color-base02);
  background-color: #4c4c4c;
}
body[kui-theme="Carbon Gray90"] .bx--data-table th {
  color: var(--color-base06);
  background-color: var(--color-base02); /* ui-03 */
}
body[kui-theme="Carbon Gray90"] .bx--data-table td {
  color: var(--color-text-02); /* lighter text for body, as specified by design */
  border-color: var(--color-base02);
  background-color: var(--color-sidecar-header); /* ui-01 */
}
body[kui-theme="Carbon Gray90"] .bx--tabs__nav-link {
  color: var(--color-base06);
  border-bottom-color: var(--color-base02);
}
body[kui-theme="Carbon Gray90"] .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
  color: var(--color-base06);
}
body[kui-theme="Carbon Gray90"]
  .bx--tabs__nav-item:hover:not(.bx--tabs__nav-item--selected):not(.bx--tabs__nav-item--disabled)
  .bx--tabs__nav-link {
  color: var(--color-text-01);
}
body[kui-theme="Carbon Gray90"] .bx--modal-header__heading,
body[kui-theme="Carbon Gray90"] .bx--modal-content {
  color: var(--color-text-01);
}
body[kui-theme="Carbon Gray90"] .bx--btn--secondary {
  background-color: #6f6f6f;
}
body[kui-theme="Carbon Gray90"] .bx--btn--danger {
  background-color: #ff3751;
}
body[kui-theme="Carbon Gray90"] .repl {
  background-color: var(--color-base00);
}

/* input placeholder text */
body[kui-theme="Carbon Gray90"][kui-theme-style] ::placeholder {
  opacity: 0.875 !important;
}
