/**
 * scheme: "Dracula"
 * author: "Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)"
 */
body[kui-theme="Dracula"] {
    --color-base00: #282936;
    --color-base01: #3a3c4e;
    --color-base02: #4d4f68;
    --color-base03: hsl(236, 14%, 31%); /* dialed L down from 45% #626483 */
    --color-base04: #62d6e8;
    --color-base05: #e9e9f4;
    --color-base06: #f1f2f8;
    --color-base07: #f7f7fb;
    --color-base08: #ea51b2;
    --color-base09: #b45bcf;
    --color-base0A: #00f769;
    --color-base0B: #ebff87;
    --color-base0C: #a1efe4;
    --color-base0D: #62d6e8;
    --color-base0E: #b45bcf;
    --color-base0F: #00f769;

    --color-light-red: hsla(322, 78%, 62%, 0.75);
    --color-green: var(--color-base0A);
    --color-light-green: hsla(146, 100%, 48%, 0.75);
    --color-yellow: var(--color-base0B);
    --color-light-yellow: hsla(70, 100%, 76%, 0.75);

    --color-scrollbar-thumb: #1D1D27;
    --color-scrollbar-thumb-border: #535364;
    --color-scrollbar-thumb-outline: #353549;

    --color-latency-0: #4d4d4d;
    --color-latency-1: #999999;
    --color-latency-2: #e0e0e0;
    --color-latency-3: #fddbc7;
    --color-latency-4: #ef8a62;
    --color-latency-5: #b2182b;
}

/* dracula highlightjs theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#282a36}.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-section,.hljs-link{color:#8be9fd}.hljs-function .hljs-keyword{color:#ff79c6}.hljs,.hljs-subst{color:#f8f8f2}.hljs-string,.hljs-title,.hljs-name,.hljs-type,.hljs-attribute,.hljs-symbol,.hljs-bullet,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#f1fa8c}.hljs-comment,.hljs-quote,.hljs-deletion,.hljs-meta{color:#6272a4}.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-title,.hljs-section,.hljs-doctag,.hljs-type,.hljs-name,.hljs-strong{font-weight:bold}.hljs-emphasis{font-style:italic}
