/**
 * scheme: "Gruvbox dark, medium"
 * author: "Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)"
 */
body[kui-theme="Gruvbox"] {
    --color-base00: #282828;
    --color-base01: #3c3836;
    --color-base02: #504945;
    --color-base03: hsl(27, 10%, 25%); /* dialed L from 36% #665c54 */
    --color-base04: #8e7b57; /* hsl(39, 24%, 45%), which is dialed with L from 66% #bdae93 */
    --color-base05: hsl(40, 38%, 80%); /* dialed L from 73% #d5c4a1 */
    --color-base06: #ebdbb2;
    --color-base07: #fbf1c7;
    --color-base08: #fb4934;
    --color-base09: #fe8019;
    --color-base0A: #fabd2f;
    --color-base0B: #b8bb26;
    --color-base0C: #8ec07c;
    --color-base0D: hsl(157, 16%, 70%); /* dialed L from 58% #83a598 */
    --color-base0E: #d3869b;
    --color-base0F: #d65d0e;

    --color-light-red: hsla(6, 96%, 59%, 0.75);
    --color-light-green: hsla(61, 66%, 44%, 0.75);
    --color-light-yellow: hsla(42, 95%, 58%, 0.75);

    --color-scrollbar-thumb: #1E1C1B;
    --color-scrollbar-thumb-border: #54514F;
    --color-scrollbar-thumb-outline: #363230;

    --color-latency-0: #1b7837;
    --color-latency-1: #7fbf7b;
    --color-latency-2: #d9f0d3;
    --color-latency-3: #e7d4e8;
    --color-latency-4: #af8dc3;
    --color-latency-5: #762a83;
}

/* gruvox-dark highlightjs theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#282828}.hljs,.hljs-subst{color:#ebdbb2}.hljs-deletion,.hljs-formula,.hljs-keyword,.hljs-link,.hljs-selector-tag{color:#fb4934}.hljs-built_in,.hljs-emphasis,.hljs-name,.hljs-quote,.hljs-strong,.hljs-title,.hljs-variable{color:#83a598}.hljs-attr,.hljs-params,.hljs-template-tag,.hljs-type{color:#fabd2f}.hljs-builtin-name,.hljs-doctag,.hljs-literal,.hljs-number{color:#8f3f71}.hljs-code,.hljs-meta,.hljs-regexp,.hljs-selector-id,.hljs-template-variable{color:#fe8019}.hljs-addition,.hljs-meta-string,.hljs-section,.hljs-selector-attr,.hljs-selector-class,.hljs-string,.hljs-symbol{color:#b8bb26}.hljs-attribute,.hljs-bullet,.hljs-class,.hljs-function,.hljs-function .hljs-keyword,.hljs-meta-keyword,.hljs-selector-pseudo,.hljs-tag{color:#8ec07c}.hljs-comment{color:#928374}.hljs-link_label,.hljs-literal,.hljs-number{color:#d3869b}.hljs-comment,.hljs-emphasis{font-style:italic}.hljs-section,.hljs-strong,.hljs-tag{font-weight:bold}
