/* color variables */
body[kui-theme="Light"] {
  --color-base00: #ffffff;
  --color-base01: #ffffff;
  --color-base02: #868d95;
  --color-base03: #d7dce4;
  --color-base04: #f2f4f8;
  --color-base05: #50565b;
  --color-base06: #13171a;
  --color-base07: #fff;
  --color-base08: #e71d32;
  --color-base09: #bf5b17;
  --color-base0A: #FDD13A;
  --color-base0B: #1dbd5a;
  --color-base0C: #399cd6;
  --color-base0D: #0072c3;
  --color-base0E: #d12764;
  --color-base0F: #8a3ffc;

  /* SidecarThin */
  --color-background-inverted01: #272c30;
  --color-background-inverted02: #373d42;
  --color-text-inverted01: #f2f4f8;
  
  --color-name: var(--color-base0D);
  --color-map-key: var(--color-base0D);

  --color-table-border1: #9e9fa1;
  --color-table-border2: #3d4144;
  --color-table-border3: #a5adb4;

  --color-sidecar-header: var(--color-base04);
  --color-sidecar-background: var(--color-base01);
  --color-sidecar-border: #e4e4e4;

  --color-brand-03: #008FFF;
  --color-content-divider: #BFC0C2;
  --color-selection-background: #b3e6ff;

  --color-screenshot-background: #0062FF;
  --color-confirm-background:var(--color-base00);
  --color-confirm-foreground:var(--color-base05);

  --color-processing: var(--color-base02);
  --color-ui-02: var(--color-base03);
  --color-ui-06: var(--color-base04);
  --color-text-02: var(--color-base05);
  --color-stripe-01: var(--color-base03);
  --color-stripe-02: var(--color-base04);
  --color-sidecar-toolbar-background: #D7DCE3;
  --color-sidecar-toolbar-foreground: var(--color-base06);

  --color-light-red: hsla(354, 81%, 51%, 50%);
  --color-light-green: hsla(143, 73%, 43%, 50%);
  --color-light-yellow: hsla(46, 98%, 61%, 50%);
}

/* mono-blue hightlightjs theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#eaeef3}.hljs{color:#00193a}.hljs-keyword,.hljs-selector-tag,.hljs-title,.hljs-section,.hljs-doctag,.hljs-name,.hljs-strong{font-weight:bold}.hljs-comment{color:#738191}.hljs-string,.hljs-title,.hljs-section,.hljs-built_in,.hljs-literal,.hljs-params,.hljs-type,.hljs-addition,.hljs-tag,.hljs-quote,.hljs-name,.hljs-selector-id,.hljs-selector-class{color:#0048ab}.hljs-meta,.hljs-subst,.hljs-symbol,.hljs-regexp,.hljs-attribute,.hljs-deletion,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-bullet{color:#4c81c9}.hljs-emphasis{font-style:italic}
