/**
 * scheme: "Lucario"
 * repo: https://github.com/raphamorim/lucario
 * author: "Rapha Amorim (https://github.com/raphamorim)
 * with tweaks by @starpit
 */
body[kui-theme="Lucario"] {
    --color-base00: #19242f;
    --color-base01: hsl(209, 30%, 18%);
    --color-base02: #2b3e50;
    --color-base03: #354758;
    --color-base04: #a8afb3; /* hsl(204, 7%, 68%); which is dialed with L from 60% #929ba1 */
    --color-base05: #eeeeee;
    --color-base06: #f8f8f2;
    --color-base07: #ffffff;
    --color-base08: #ff6c60;
    --color-base09: #fbb036;
    --color-base0A: #ffffb6;
    --color-base0B: #8ee478;
    --color-base0C: #7ce5e6;
    --color-base0D: #5796ed;
    --color-base0E: #ff73fd;
    --color-base0F: #e6b5ff;

    /*     --color-support-01: #e3bf21; */
    --color-ui-06: hsla(209, 25%, 22%, 1);

    --color-light-red: rgba(255, 108, 96, 50%);
    --color-light-green: hsla(108, 67%, 68%, 50%);
    --color-light-yellow:rgba(255, 255, 182, 50%);

    --color-scrollbar-thumb: #121412;
    --color-scrollbar-thumb-border: #3F433F;
    --color-scrollbar-thumb-outline: #1C221C;

    --color-latency-0: #1b7837;
    --color-latency-1: #7fbf7b;
    --color-latency-2: #d9f0d3;
    --color-latency-3: #e7d4e8;
    --color-latency-4: #af8dc3;
    --color-latency-5: #762a83;
}

/* atelier seaside dark highlightjs theme */
.hljs-comment,.hljs-quote{color:#809980}.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-tag,.hljs-name,.hljs-regexp,.hljs-link,.hljs-name,.hljs-selector-id,.hljs-selector-class{color:var(--color-base08)}.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params{color:#87711d}.hljs-string,.hljs-symbol,.hljs-bullet{color:var(--color-base0B)}.hljs-title,.hljs-section{color:var(--color-base0D)}.hljs-keyword,.hljs-selector-tag{color:#ffb3b5}.hljs{display:block;overflow-x:auto;background:#131513;color:var(--color-light-green);padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
