/**
 * scheme: "Monokai"
 * author: "Wimer Hazenberg (http://www.monokai.nl)"
 */
body[kui-theme="Monokai"] {
    --color-base00: #272822;
    --color-base01: #383830;
    --color-base02: #49483e;
    --color-base03: hsl(50, 11%, 23%); /* dialed L down from 45% #75715e */
    --color-base04: #a59f85;
    --color-base05: #f8f8f2;
    --color-base06: #f5f4f1;
    --color-base07: #f9f8f5;
    --color-base08: #f92672;
    --color-base09: #fd971f;
    --color-base0A: #f4bf75;
    --color-base0B: #a6e22e;
    --color-base0C: #a1efe4;
    --color-base0D: #66d9ef;
    --color-base0E: #ae81ff;
    --color-base0F: #cc6633;

    --color-scrollbar-thumb: #20201C;
    --color-scrollbar-thumb-border: #4D4D46;
    --color-scrollbar-thumb-outline: #33332B;

    --color-light-red: hsla(338, 95%, 56%, 0.75);
    --color-light-green: hsla(80, 76%, 53%, 0.75);
    --color-light-yellow: hsla(35, 85%, 71%, 0.75);
}

/* monokai highlightjs theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#272822;color:#ddd}.hljs-tag,.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-strong,.hljs-name{color:#f92672}.hljs-code{color:#66d9ef}.hljs-class .hljs-title{color:white}.hljs-attribute,.hljs-symbol,.hljs-regexp,.hljs-link{color:#bf79db}.hljs-string,.hljs-bullet,.hljs-subst,.hljs-title,.hljs-section,.hljs-emphasis,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-tag,.hljs-template-variable{color:#a6e22e}.hljs-comment,.hljs-quote,.hljs-deletion,.hljs-meta{color:#75715e}.hljs-keyword,.hljs-selector-tag,.hljs-literal,.hljs-doctag,.hljs-title,.hljs-section,.hljs-type,.hljs-selector-id{font-weight:bold}
