/**
 * scheme: "Nord"
 * author: "arcticicestudio"
 */
body[kui-theme="Nord"] {
    --color-base00: #2E3440;
    --color-base01: #3B4252;
    --color-base02: #434C5E;
    --color-base03: #4C566A;
    --color-base04: #D8DEE9;
    --color-base05: #E5E9F0;
    --color-base06: #ECEFF4;
    --color-base07: #8FBCBB;
    --color-base08: #88C0D0;
    --color-base09: #81A1C1;
    --color-base0A: hsl(213, 32%, 67%); /* dialed L from 54% #5E81AC */
    --color-base0B: #BF616A;
    --color-base0C: #D08770;
    --color-base0D: #EBCB8B;
    --color-base0E: #A3BE8C;
    --color-base0F: #B48EAD;

    --color-white: var(--color-base06);
    --color-text-01: var(--color-base06);
    --color-cyan: var(--color-base08);
    --color-red: var(--color-base0B);
    --color-green: var(--color-base0E);
    --color-yellow: var(--color-base0D);

    --color-light-red: hsla(354, 42%, 56%, 0.75);
    --color-light-green: hsla(92, 28%, 65%, 0.75);
    --color-light-yellow: hsla(40, 71%, 73%, 0.75);

    --color-scrollbar-thumb: #1E2029;
    --color-scrollbar-thumb-border: #545968;
    --color-scrollbar-thumb-outline: #363B4D;

    --color-latency-0: #4575b4;
    --color-latency-1: #91bfdb;
    --color-latency-2: #e0f3f8;
    --color-latency-3: #fee090;
    --color-latency-4: #fc8d59;
    --color-latency-5: #d73027;
}

/* nord hightlightjs theme */
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#2E3440}.hljs,.hljs-subst{color:#D8DEE9}.hljs-selector-tag{color:#81A1C1}.hljs-selector-id{color:#8FBCBB;font-weight:bold}.hljs-selector-class{color:#8FBCBB}.hljs-selector-attr{color:#8FBCBB}.hljs-selector-pseudo{color:#88C0D0}.hljs-addition{background-color:rgba(163,190,140,0.5)}.hljs-deletion{background-color:rgba(191,97,106,0.5)}.hljs-built_in,.hljs-type{color:#8FBCBB}.hljs-class{color:#8FBCBB}.hljs-function{color:#88C0D0}.hljs-function>.hljs-title{color:#88C0D0}.hljs-keyword,.hljs-literal,.hljs-symbol{color:#81A1C1}.hljs-number{color:#B48EAD}.hljs-regexp{color:#EBCB8B}.hljs-string{color:#A3BE8C}.hljs-title{color:#8FBCBB}.hljs-params{color:#D8DEE9}.hljs-bullet{color:#81A1C1}.hljs-code{color:#8FBCBB}.hljs-emphasis{font-style:italic}.hljs-formula{color:#8FBCBB}.hljs-strong{font-weight:bold}.hljs-link:hover{text-decoration:underline}.hljs-quote{color:#4C566A}.hljs-comment{color:#4C566A}.hljs-doctag{color:#8FBCBB}.hljs-meta,.hljs-meta-keyword{color:#5E81AC}.hljs-meta-string{color:#A3BE8C}.hljs-attr{color:#8FBCBB}.hljs-attribute{color:#D8DEE9}.hljs-builtin-name{color:#81A1C1}.hljs-name{color:#81A1C1}.hljs-section{color:#88C0D0}.hljs-tag{color:#81A1C1}.hljs-variable{color:#D8DEE9}.hljs-template-variable{color:#D8DEE9}.hljs-template-tag{color:#5E81AC}.abnf .hljs-attribute{color:#88C0D0}.abnf .hljs-symbol{color:#EBCB8B}.apache .hljs-attribute{color:#88C0D0}.apache .hljs-section{color:#81A1C1}.arduino .hljs-built_in{color:#88C0D0}.aspectj .hljs-meta{color:#D08770}.aspectj>.hljs-title{color:#88C0D0}.bnf .hljs-attribute{color:#8FBCBB}.clojure .hljs-name{color:#88C0D0}.clojure .hljs-symbol{color:#EBCB8B}.coq .hljs-built_in{color:#88C0D0}.cpp .hljs-meta-string{color:#8FBCBB}.css .hljs-built_in{color:#88C0D0}.css .hljs-keyword{color:#D08770}.diff .hljs-meta{color:#8FBCBB}.ebnf .hljs-attribute{color:#8FBCBB}.glsl .hljs-built_in{color:#88C0D0}.groovy .hljs-meta:not(:first-child){color:#D08770}.haxe .hljs-meta{color:#D08770}.java .hljs-meta{color:#D08770}.ldif .hljs-attribute{color:#8FBCBB}.lisp .hljs-name{color:#88C0D0}.lua .hljs-built_in{color:#88C0D0}.moonscript .hljs-built_in{color:#88C0D0}.nginx .hljs-attribute{color:#88C0D0}.nginx .hljs-section{color:#5E81AC}.pf .hljs-built_in{color:#88C0D0}.processing .hljs-built_in{color:#88C0D0}.scss .hljs-keyword{color:#81A1C1}.stylus .hljs-keyword{color:#81A1C1}.swift .hljs-meta{color:#D08770}.vim .hljs-built_in{color:#88C0D0;font-style:italic}.yaml .hljs-meta{color:#D08770}
