/* color variables */
body[kui-theme="IBM Light"] {
  --color-base00: #ffffff;
  --color-base01: #f3f3f3;
  --color-base02: #8c8c8c;
  --color-base03: #dcdcdc;
  --color-base04: #f2f4f8;
  --color-base05: #50565b;
  --color-base06: #171717;
  --color-base07: #fff;
  --color-base08: #da1e28;
  --color-base09: #bf5b17;
  --color-base0A: #fdd13a;
  --color-base0B: #24a249;
  --color-base0C: #1191e6;
  --color-base0D: #054ada;
  --color-base0E: #d12765;
  --color-base0F: #8a3ffc;

  /* SidecarThin */
  --color-background-inverted01: #272d33;
  --color-background-inverted02: #32383d;
  --color-text-inverted01: #fff;
  --color-text-inverted02: var(--color-text-inverted01);
  --color-text-inverted03: var(--color-text-01);
  --color-tab-selected-inverted: #5a99e2;

  /* xterm ANSI yellow text color */
  --color-yellow-text: #bb9002;

  --color-brand-01: #0062ff;
  --color-brand-02: #171717;
  --color-brand-03: #0062ff;

  --color-ui-05: #171717;
  --color-text-02: #565656;

  --color-name: var(--color-base0D);
  --color-map-key: var(--color-base0D);

  --color-table-border1: #9e9fa1;
  --color-table-border2: #3d4144;
  --color-table-border3: #a5adb4;

  --color-sidecar-header: var(--color-base04);
  --color-sidecar-background: var(--color-base01);
  --color-sidecar-border: #e4e4e4;

  --color-brand-03: #008fff;
  --color-content-divider: #bfc0c2;
  --color-selection-background: #b3e6ff;

  --color-screenshot-background: #0062ff;

  --color-stripe-01: #f5f7fa;
  --tab-gray-text-color: #5a6872;
  --active-tab-color: #3d70b2;

  --color-light-red: hsla(354, 81%, 51%, 50%);
  --color-light-green: hsla(143, 73%, 43%, 50%);
  --color-light-yellow: hsla(46, 99%, 59%, 50%);
}

/* mono-blue hightlightjs theme */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
}
.hljs {
  color: #00193a;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-comment {
  color: #738191;
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #0048ab;
}
.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
  color: #4c81c9;
}
.hljs-emphasis {
  font-style: italic;
}
